@font-face {
    font-family: 'leagueFont';
    src: local('leagueFont'), url('fonts/BeaufortforLOL-Bold.otf') format('opentype');
  }  

  @font-face {
    font-family: 'leagueFontLight';
    src: local('leagueFontLight'), url('fonts/BeaufortforLOL-Regular.otf') format('opentype');
  }  

  h1 {
    color: #C8AA6E;
    font-size: 300%;
    font-family: 'leagueFont';
    justify-content: center;
    align-content: center;
  }

  p {
    color: #C8AA6E;
    font-size: 100%;
    font-family: 'leagueFont';
    justify-content: center;
    align-content: center;
  }

  .button {
    background-color: #0A323C;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'leagueFont';
    margin-top: 10px;
  }